@import './base.css';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
  font-family: 'Open Sans', sans-serif;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0;
}
#app {
  max-width: 700px;
  margin: 150px auto 0px auto;

  font-weight: normal;

  background-color: rgba(182, 219, 217, 0.716);
}
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.title {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 40px;
}

.empty {
  font-size: 30px;
}
.wrapper form input {
  width: 400px;
  padding: 10px 15px;
  border-radius: 10px 0px 10px 0px;
  font-size: 25px;
}
.wrapper form {
  margin-bottom: 20px;
}
.wrapper form input:focus {
  background-color: rgb(207, 201, 201);
}

.bnt_submit {
  font-size: 25px;
  padding: 10px 15px;
  margin-left: 15px;
  border-radius: 0px 10px 0px 10px;
  transition: 0.3s ease-in;
}

.bnt_submit:hover {
  background-color: rgb(167, 167, 167);
}

.check {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: -6px;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: rgb(227, 227, 227);
  box-shadow: 2px 2px 2px;
}

.check:hover input ~ .checkmark {
  background-color: #ccc;
}

.check input:checked ~ .checkmark {
  background-color: #2196f3;
}

.checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

.check input:checked ~ .checkmark:after {
  display: block;
}

.check .checkmark:after {
  left: 10px;
  top: 7px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.todos {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 23px;
}
.todo {
  width: 500px;
  background-color: rgb(240, 240, 240);
  padding: 20px 15px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  line-height: 100%;
  position: relative;

  border-radius: 15px 0px 15px 0px;
}
.btn_delete {
  position: absolute;
  right: 10px;
}
